# General
NEMOBIL_ENV=local


# Main PostgreSQL
POSTGRES_USER=nemobil
POSTGRES_PASSWORD=nemobil


# Keycloak database
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak


# Keycloak administrator
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Nemobil_Admin_2026!


# Future OAuth client
KEYCLOAK_CLIENT_ID=nemobil-app
KEYCLOAK_CLIENT_SECRET=Nemobil_Client_Secret_2026!

# Stellio
ENVIRONMENT=dev
STELLIO_DB_USER=stellio
STELLIO_DB_PASSWORD=stellio
STELLIO_DOCKER_TAG=2.31.2
STELLIO_SEARCH_DB_DATABASE=stellio_search
STELLIO_SUBSCRIPTION_DB_DATABASE=stellio_subscription
STELLIO_AUTHENTICATION_ENABLED=true
STELLIO_AUTHENTICATION_ALLOW_PUBLIC_PERMISSION=true
APPLICATION_TENANTS_0_NAME=urn:ngsi-ld:tenant:default_dataspace
APPLICATION_TENANTS_0_DBSCHEMA=public
APPLICATION_TENANTS_0_ISSUER=http://localhost:8080/realms/Nemobil
APPLICATION_TENANTS_0_CLIENTID=nemobil-app
APPLICATION_TENANTS_0_CLIENTSECRET=Nemobil_Client_Secret_2026!
SUBSCRIPTION_ENTITY_SERVICE_URL=http://search-service:8083
SUBSCRIPTION_STELLIO_URL=http://api-gateway:8080
APPLICATION_PAGINATION_LIMIT_DEFAULT=20
APPLICATION_PAGINATION_LIMIT_MAX=100
APPLICATION_PAGINATION_TEMPORAL_LIMIT=1000
CONTAINER_NAME_PREFIX=nemobil-