# General
NEMOBIL_ENV=local


# Main PostgreSQL
POSTGRES_USER=nemobil
POSTGRES_PASSWORD=nemobil


# Keycloak database
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak


# Keycloak administrator
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Nemobil_Admin_2026!


# Future OAuth client
KEYCLOAK_CLIENT_ID=nemobil-app
KEYCLOAK_CLIENT_SECRET=Nemobil_Client_Secret_2026!