########################################
# General
########################################

NEMOBIL_ENV=local



########################################
# PostgreSQL
########################################

# UPDATE YOUR - Main PostgreSQL Credentials
POSTGRES_USER=nemobil
POSTGRES_PASSWORD=nemobil



########################################
# Keycloak
########################################

# UPDATE YOUR - Keycloak database Credentials
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

# UPDATE YOUR - Keycloak administrator Credentials
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Nemobil_Admin_2026!

# UPDATE YOUR - Keycloak OAuth Client Credentials
KEYCLOAK_CLIENT_ID=nemobil-app
KEYCLOAK_CLIENT_SECRET=Nemobil_Client_Secret_2026!

# Keycloak divers
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_PUBLIC_URL=http://localhost:8080/auth
KEYCLOAK_REALM=Nemobil



########################################
# Mobile Backend
########################################

# UPDATE YOUR - Mobile App Backend Credentials
KEYCLOAK_SERVICE_ACCOUNT_USER=stellio-serviceaccount@test.de
KEYCLOAK_SERVICE_ACCOUNT_PASSWORD=Nemobil_Service_2026!
POIS_ADMIN_PASSWORD=admin
LOCATIONIQ_API_KEY=
NOMINATIM_USER_AGENT=nemobil-core-api

# Mobile App Backend divers
HTTP_PORT=9001
GLOBAL_PREFIX=api
NODE_TLS_REJECT_UNAUTHORIZED=0
KEYCLOAK_REDIRECT_ENDPOINT=http://localhost:8080/app
CORS=http://localhost:8080/app
POIS_ENABLED=true
POIS_FILE_PATH=/data/pois.json
STELLIO_CONTEXT_API_URL=http://apisix:9080/ngsi-ld/v1/entities/
NEMOBIL_NGSI_JSON_LD_CONTEXT=https://api.npoint.io/d66beea7313de1ad894c
LOCATIONIQ_URL=https://api.locationiq.com/v1
NOMINATIM_URL=https://nominatim.openstreetmap.org
NOMINATIM_COUNTRY_CODES=de
NOMINATIM_LIMIT=10



########################################
# Mobile Frontend
########################################

BACKEND_URL=/api
CORE_API_URL=http://nemobil-core-api:9001

DISABLE_REGISTRATION=true
DISABLE_WITH_PASSENGERS=true

GEOJSON_PATH=/lanelet2_map_geojson.geojson

MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
MAP_TILE_ATTRIBUTION=&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors

DATAPOLICY_PDF_DE=/nemobil-pwa-privacydocs/privacydoc_de.pdf
DATAPOLICY_PDF_EN=/nemobil-pwa-privacydocs/privacydoc_en.pdf



########################################
# Stellio
########################################

# UPDATE YOUR - Stellio DB Credentials
STELLIO_DB_USER=stellio
STELLIO_DB_PASSWORD=stellio

# UPDATE YOUR - Stellio Keycloak OAuth Client Credentials, LIKE ABOVE 
APPLICATION_TENANTS_0_CLIENTID=nemobil-app
APPLICATION_TENANTS_0_CLIENTSECRET=Nemobil_Client_Secret_2026!

# Stellio divers

ENVIRONMENT=dev
CONTAINER_NAME_PREFIX=nemobil-
STELLIO_DOCKER_TAG=2.31.2
STELLIO_SEARCH_DB_DATABASE=stellio_search
STELLIO_SUBSCRIPTION_DB_DATABASE=stellio_subscription
STELLIO_AUTHENTICATION_ENABLED=true
STELLIO_AUTHENTICATION_ALLOW_PUBLIC_PERMISSION=true
SUBSCRIPTION_ENTITY_SERVICE_URL=http://search-service:8083
SUBSCRIPTION_STELLIO_URL=http://api-gateway:8080
APPLICATION_PAGINATION_LIMIT_DEFAULT=20
APPLICATION_PAGINATION_LIMIT_MAX=100
APPLICATION_PAGINATION_TEMPORAL_LIMIT=1000

# Stellio TENANT_0_Configuration
# For other or additional tenants refer to https://github.com/stellio-hub/stellio-context-broker/blob/master/docs/admin/multitenancy.md
APPLICATION_TENANTS_0_NAME=urn:ngsi-ld:tenant:default
APPLICATION_TENANTS_0_DBSCHEMA=public
APPLICATION_TENANTS_0_ISSUER=http://keycloak:8080/realms/Nemobil


########################################
# MQTT
########################################

# UPDATE YOUR - Mosquitto MQTT
MQTT_NODERED_USER=nodered
MQTT_NODERED_PASSWORD=Nemobil_MQTT_NodeRed_2026!